node_modules/
dist/
build/
coverage/
.turbo/
*.tsbuildinfo

# CDK
infra/cdk/cdk.out/
cdk.out/
.cdk.staging/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
